Language:                         Cpp
AllowShortFunctionsOnASingleLine: None
BasedOnStyle:                     LLVM
BinPackArguments:                 false
BinPackParameters:                false
ContinuationIndentWidth:          8
IndentCaseLabels:                 true
IndentWidth:                      4
PenaltyReturnTypeOnItsOwnLine:    200
